body {
    padding-top: 50px;
    padding-bottom: 60px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.main-content {
    margin-top: 28px;
}

.progress {
    position: relative;
    height: 34px;
}

    .progress span {
        position: absolute;
        display: block;
        width: 100%;
        color: black;
        font-size: 24px;
        padding-top: 12px;
    }

h2 {
    margin-top:3px;
}

#filter-form {
    margin-top:15px;
    margin-bottom:15px;
}

html * {
    font-family: 'Ubuntu', sans-serif;
}

/* SLIDER */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 20px;
    max-width:90%;
}

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #18bc9c;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #18bc9c;
        cursor: pointer;
    }

/* footer */
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    background-color: #f5f5f5;
}


/* Custom page CSS
 * Not required for template or sticky footer method.
 * -------------------------------------------------- */

    .container .text-muted {
        margin: 20px 0;
    }