@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    City of Glasgow College<br />
    190 Cathedral St<br />
    Glasgow G4 0RF<br />
    0141 375 5555<br />
</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:Admin@CaloriesCount.com">Admin@CaloriesCount.com</a>
</address>