@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Calories Count</h1>
    <p class="lead">Calories Count is a web based application that assists with counting calories and provide awareness of calorie intake.</p>
    <p><a href="@Url.Action("Learn")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To get started counting your calories, create a account with us today for free.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "DiaryEntries")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View our foods</h2>
        <p>Find calorie information about a food by searching our extensive food database by category.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Categories")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Listen</h2>
        <p>Visit our podcasts page to gain a deeper understanding on mantaining a healthy lifestyle. </p>
        <p><a class="btn btn-default" href="@Url.Action("Podcasts")">Learn more &raquo;</a></p>
    </div>
</div>