@model IEnumerable<CaloriesCount.Models.Podcast>

@{
    ViewBag.Title = "Podcasts";
}

<h2>Podcasts</h2>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Play Audio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <audio controls onplay="pauseAll(this);">
                            <source src="@Url.Content(@item.FilePath)" type="audio/mp3" />
                        </audio>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts
    {
    <script>
        function pauseAll(element) {
            $("audio").not(element).each(function (index, audio) {
                audio.pause();
            });
        }
    </script>
    }
